@section scriptsBottom
{
    <script src="~/Scripts/toastr.min.js"></script>
}

@section AppScripts
{
    <script src="~/Application/Controllers/UserProfileCtrl.js"></script>
    <script src="~/Application/Services/UserProfileRouting.js"></script>
    <script src="~/Application/Directives/UserProfileDirectivies.js"></script>
}

<div class="view-animate-container">
    <div class="row " ng-view></div>
</div>
