<fieldset>
    <legend>
        Reset My Password
    </legend>
    @using(Html.BeginForm())
    {
        <div class="alert alert-block">
            Please enter your email address. You will then receive an email with a link, via which you can choose a new password.
        </div>
        <div>
            <ol class="unstyled">
                <li>
                    Email address:
                    <input type="text" name="email" id="email" />
                </li>                
            </ol>
            <input type="submit" value="Submit" class="btn"/>
        </div>
    }
</fieldset>