<ul id="WizardLinks">
    <li ID="CourseBasicInfo">{{"Course Basic Info"|translate}}</li>
    <li ID="CourseDetails">{{"Course Details"|translate}}</li>
    <li ID="CourseSchedule">{{"Course Schedule"|translate}}</li>
    <li ID="CourseInstructor">{{"Instructors"|translate}}</li>
    <li ID="CourseOutlines">{{"Course Outlines"|translate}}</li>
    <li ID="CourseCompetencies">{{"Course Competencies"|translate}}</li>
    <li ID="CourseFAQ">{{"Course FAQs"|translate}}</li>
</ul>
<script>
    $("#WizardLinks .wizard-link-selected").prevAll().css("color", "#575757");
</script>